{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}

<section>
    <div class="container">
      <h3>QUIENES SOMOS:</h3>  
      <p class="app-justificar">SOMOS PARTE DE UN PROYECTO NACIONAL CREADO CON EL APOYO DEL SECTOR EDUCATIVO,  EL SECTOR SALUD, EL VOLUNTARIADO NACIONAL Y EMPRESAS DEL SECTOR PRIVADO; CON LA PRESPECTIVA DE COMBATIR EL REZAGO EDUCATIVO DE LOS NIÑOS, NIÑAS Y JOVENES EN EDAD DE CURSAR LA EDUCACION BASICA Y QUE POR MOTIVOS DE ENFERMEDAD SE ENCUENTRAN HOSPITALIZADOS, EN TRATAMIENTO O EN REHABILITACIÓN,  A TRAVÉS DE LA IMPLEMENTACIÓN DE UNA PROPUESTA DE ATENCIÓN EDUCATIVA   QUE RESPONDA A SUS NECESIDADES ESPECÍFICAS  EN EL  CONTEXTO HOSPITALARIO. SE LE DA ATENCIÓN A LA DIVERSIDAD Y SE HACE EFECTIVO EL DERECHO A LA EDUCACIÓN BÁSICA EN IGUALDAD DE CIRCUNSTANCIAS INDEPENDIENTEMENTE DE SU CONDICIÓN DE SALUD. </p>
      
    </div>    
  </section>
{% endblock %}