{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
{% load static from staticfiles %}

<section>
    <div class="container">
      <h3>QUIENES SOMOS:</h3>  
      <p class="app-justificar">Somos parte de un proyecto nacional creado con el apoyo del sector educativo,  el sector salud, el voluntariado nacional y empresas del sector privado; con la perspectiva de combatir el rezago educativo de los niños, niñas y jóvenes en edad de cursar la Educación Básica y que por motivos de enfermedad se encuentran hospitalizados, en tratamiento o en rehabilitación,  a través de la implementación de una propuesta de atención educativa   que responda a sus necesidades educativas específicas  en el  contexto hospitalario.  Se le da atención a la diversidad y se hace efectivo el derecho a la educación básica en igualdad de circunstancias independientemente de su condición de salud.</p>
      <br>  
       <div class="row">
               <div class="col-xs-12 col-sm-4 color1">
                       
                </div>
                <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/quien.jpg' %}" WIDTH=150 HEIGHT=180 class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4 color1">
                     
                 </div>
        </div>
    
    </div>    
  </section>
{% endblock %}