{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>

{% if info_enviado %}
<br>
		Gracias por enviar  tu comentario nos  pondremos en contacto con Usted..
		<br>	 
{% else %}
	 	 <form action="." method="POST"> 
	 	 	{% csrf_token %}
	 	 	{{form.as_p}}
			
            <button type="submit" class="btn btn-primary" value="Enviar">
                 Enviar 
            </button>
           
		</form>
{% endif %}

{% endblock %}