{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h3>INFRAESTRUCTURA:</h3>
					<p class="app-justificarx">Los alumnos hospitalizados: enfermos crónicos y/o ambulatorios requieren recursos y ayudas especiales para satisfacer sus necesidades educativas, médicas, psicológicas, que son brindada en forma conjunta por el sistema educativo y de salud; la infraestructura  para el proyecto  hospitalario es provista de la siguiente manera:
					SSA: Proporciona equipamiento de aula, muebles, equipos de cómputo, materiales didácticos.</p>
					<p>El hospital por su parte facilita un espacio con iluminación, ventilación y acceso a internet.</p>
					<p><strong>SEP:</strong> Provee Maestro de la SEP.</p>
					<p><strong>INEA:</strong> Brinda colección de libros para la vida y el trabajo,  formato para exámenes y de ser posible asesor de INEA.</p>
					<p><strong>CONACULTA:</strong> Colabora con biblioteca para el fomento para la lectura, arte nautas, talleristas y capacitación.</p>
					<p><strong>CONAVyT:</strong> Consejo Nacional para la vida y el Trabajo.</p>
					<p><strong>SECTOR PRIVADO:</strong> Recursos bibliográficos o materiales. </p>
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                    
                </div>
            </div>
</div>
{% endblock %}