{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container color1">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>INFRAESTRUCTURA</h3>
                    <hr>
                     <p>SSA: Proporciona equipamiento de aula, muebles, equipos de cómputo, materiales 
						didácticos. El hospital por su parte facilita un espacio con iluminación, ventilación y acceso
						a internet.</p>
						<br>
						<p>
						SEP: Provee Maestro de la SEP y libros de texto Educación Básica
						</p>
						<br>
						<p>
						INEA: Brinda colección de libros para la vida y el trabajo, formato para exámenes y de ser 
						posible asesor de INEA.
						</p>
						<br>
						<p>CONACULTA: Colabora con biblioteca para el fomento para la lectura, arte nautas,talleristas y capacitación.
						  </p>
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                    
                </div>
            </div>
</div>
{% endblock %}