{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<div class="container">
            <div class="row">                 
					<p class="margin">INFRAESTRUCTURA:</p>
					<p class="margin">Los alumnos hospitalizados: enfermos crónicos y/o ambulatorios requieren recursos y ayudas especiales para satisfacer sus necesidades educativas, médicas, psicológicas, que son brindada en forma conjunta por el sistema educativo y de salud; la infraestructura  para el proyecto  hospitalario es provista de la siguiente manera:</p>
					<p class="margin"><strong>SSA:</strong> Proporciona equipamiento de aula, muebles, equipos de cómputo, materiales didácticos. 
					El hospital por su parte facilita un espacio con iluminación, ventilación y acceso a internet.</p>
					<p class="margin"><strong>SEP:</strong> Provee Maestro de la SEP.</p>
					<p class="margin"><strong>INEA:</strong> Brinda colección de libros para la vida y el trabajo,  formato para exámenes y de ser posible asesor de INEA.</p>
					<p class="margin"><strong>CONACULTA:</strong> Colabora con biblioteca para el fomento para la lectura, arte nautas, talleristas y capacitación.</p>
					<p class="margin"><strong>CONAVyT:</strong> Consejo Nacional para la vida y el Trabajo.</p>
					<p class="margin"><strong>SECTOR PRIVADO:</strong> Recursos bibliográficos o materiales.</p>                               
            </div>
</div>
{% endblock %}