{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
{% load static from staticfiles %}

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno1.jpg' %}" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno23.jpg' %}" alt="140x140" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno24.jpg' %}" class="img-responsive">
           </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno25.jpg' %}" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno26.jpg' %}" alt="140x140" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno27.jpg' %}" class="img-responsive">
           </div>
        </div>
      </div>
      <br>
       <div class="row">
        <div class="col-md-4">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno28.jpg' %}" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno29.jpg' %}" alt="140x140" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno30.jpg' %}" class="img-responsive">
           </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno35.jpg' %}" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno32.jpg' %}" alt="140x140" class="img-thumbnail">
           </div>
        </div>
        <div class="col-md-4">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno33.jpg' %}" class="img-responsive">
           </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img class="img" src="{% static 'img/alumno34.jpg' %}" class="img-thumbnail">
           </div>
        </div>
         
         
      </div>
      <br>
</div>
{% endblock %}