{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
{% load static from staticfiles %}
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/libro.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Alumno: Raul lopez</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, autem, molestias, pariatur, minus dolorum iusto illo sed itaque sit officia voluptatibus exercitationem voluptates corporis nulla doloribus veritatis eos molestiae aperiam.</p>
           </div>
         </div>
     </div>
     <hr>
     <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/libro2.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Alumno: Gerardo Ortiz</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, autem, molestias, pariatur, minus dolorum iusto illo sed itaque sit officia voluptatibus exercitationem voluptates corporis nulla doloribus veritatis eos molestiae aperiam.</p>
           </div>
         </div>
     </div>
      <hr>
     <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/libro3.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <article id="historia">
            <h3>Alumno: Robero Matias</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, autem, molestias, pariatur, minus dolorum iusto illo sed itaque sit officia voluptatibus exercitationem voluptates corporis nulla doloribus veritatis eos molestiae aperiam.</p>
           </article>
           </div>
         </div>
     </div>
      <hr>
     <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/libro2.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Alumno: Jaime Infante</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, autem, molestias, pariatur, minus dolorum iusto illo sed itaque sit officia voluptatibus exercitationem voluptates corporis nulla doloribus veritatis eos molestiae aperiam.</p>
           </div>
         </div>
     </div>

{% endblock %}