{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
{% load static from staticfiles %}
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno1.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
     <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno23.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
       <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno24.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
    <hr>      
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno25.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno26.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
    <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno27.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno28.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno29.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>   
     
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno32.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno33.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno34.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
     <hr>
      <div class="container color1">
         <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
             <img src="{% static 'img/alumno35.jpg' %}" class="img-responsive">
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      
           </div>
         </div>
     </div>
{% endblock %}