{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}
{% load static from staticfiles %}
{% block content %}
  <nav class="navbar navbar-personalizado">    
  </nav>
  <section class="app-principal">
    <div class="container">
      <h1 class="app-titulo">Sigamos Aprendiendo...Laguna</h1>
      <p class="app-desc">Proyecto de Prevencion y Atencion al Rezago Educativo por enfermedad</p>
    </div>
    <div class="app-redes">
      <div class="app-sociales">
        <div class="app-facebook">
          <button class="btn btn-facebook btn-block">
            <span class="ico-facebook"></span>
            <span> Facebook</span>
          </button>
        </div>  
        <div class="app-twitter">
          <button class="btn btn-twitter btn btn-block">
            <span class="icon-twitter"></span>
            <span> Twitter</span>
          </button>
        </div>      
      </div>      
    </div>
  </section>
{% endblock %}