{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}
{% load static from staticfiles %}
{% block content %}
  <nav class="navbar navbar-personalizado">    
  </nav>
  <section class="app-principal">
    <div class="container">
      <h1 class="app-titulo">Sigamos Aprendiendo...Laguna</h1>
      <p class="app-desc">Proyecto de Prevencion y Atencion al Rezago Educativo por enfermedad</p>
    </div>

     <div class="carousel slide" id="miSlider" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#miSlider" data-slide-to="0" class="active"></li>
      <li data-target="#miSlider" data-slide-to="1"></li>
      <li data-target="#miSlider" data-slide-to="2"></li>
    </ol>

 
    <div class="carousel-inner" >

      
      <div class="item active">
        <div class="centra-imagen">
        <img src="{% static 'img/uno7.jpg' %}" alt="imagen1">
         </div>
      </div>


      <div class="item">
        <div class="centra-imagen">
        <img src="{% static 'img/imagen7.jpg' %}" alt="imagen2">
      </div>
      </div>

       <div class="item">
        <div class="centra-imagen">
        <img src="{% static 'img/tres.jpg' %}" alt="imagen3">
        </div>
      </div>
    </div>

    <a href="#miSlider" class="carousel-control left" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#miSlider" class="carousel-control right" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>    
  </section>
  
{% endblock %}