{% extends 'base.html' %}
{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
{% load static from staticfiles %}

   <div class="container">
                <p class="margin">MATERIALES Y RECURSOS:</p>
                <p class="app-justificar">Equipo multimedia, de cómputo, material didáctico, lúdico y de biblioteca.</p> 
                   
        <div class="row">     
                <div class="col-xs-12 col-sm-4">
                     <img class="img" src="{% static 'img/mat2.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4">
                     <img class="img" src="{% static 'img/mat3.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4">
                     <img class="img" src="{% static 'img/mat4.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
               
        </div>      
      </div>  

{% endblock %}