{% extends 'base.html' %}
{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}
{% block content %}
<div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h3>Materiales y Recursos:</h3>  
					<p class="app-justificar">EQUIPO MULTIMEDIA, DE CÓMPUTO, MATERIAL DIDACTICO, LUDICO Y DE BIBLIOTECA. </p>
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                    
                </div>
            </div>
</div>
{% endblock %}
