{% extends 'base.html' %}
{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}
{% block content %}
<div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h3>Normatividad y Operaciones:</h3>  
					<p class="app-justificar">ESTE PROYECTO OPERA PRINCIPALMENTE EN LOS 
					HOSPITALES DE 2do. Y 3er. NIVEL, PERO EN LA REGION LAGUNA ACTUALMENTE
					FUNCIONA EN LOS 2 HOSPITALES GENERALES, PERTENECIENTES AL 2do. NIVEL. </p>
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                    
                </div>
            </div>
</div>
{% endblock %}
