{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% load static from staticfiles %}

{% block content %}
   <div class="container">
                <p class="margin">OBJETIVO:</p>
                <p class="app-justificar"> Ofrecer atención educativa y recreativa a niños, niñas y adolescentes de Educación Básica (Preescolar, Primaria y Secundaria) que por situación de enfermedad deben permanecer hospitalizados, con la finalidad de que al regresar a su entorno y no presenten rezago educativo.</p> 
                   
        <div class="row">                 
                <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/obje1.jpg' %}" WIDTH=180 HEIGHT=200  class="img-thumbnail">          
                </div>
                <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/obje2.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/obje3.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
        </div>      
      </div>  
{% endblock %}
