{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
  <div class="contanier color1">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9">
                <h3>OBJETIVO:</h3>
                <p class="margin">Ofrecer atención educativa y recreativa a niños, niñas y adolescentes de Educación Básica (Preescolar, Primaria y Secundaria) que por situación de enfermedad deben permanecer hospitalizados, con la finalidad de que al regresar a su entorno y no presenten rezago educativo.</p>
            </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"></div>            
        </div>           
  </div>   
{% endblock %}
