{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
{% load static from staticfiles %}

   <div class="container">
                <p class="margin">En Región Laguna:</p>
                <p class="app-justificar">La equidad en la educación se da en las aulas hospitalarias a partir de la coordinación a nivel nacional, estatal y local de la Secretaria de Educación Pública y la Secretaria de Salud.

				Responsable  Nacional del  SS   Responsable  Nacional de la  Sep.
				Responsable  Estatal  del  SS   Responsable   Estatal de la  Sep.
				Coordinadora-Enlace  del Programa  Local Maestras Hospitalarias</p>                    
         
      </div>  

{% endblock %}