{% extends 'base.html' %} 

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
{% load static from staticfiles %}
<div class="container">
       <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3>ORGANIGRAMA:</h3>
                    <p class="app-justificarx">LA EQUIDAD EN LA EDUCACION  SE DA EN LAS AULAS HOSPITALARIAS  A PARTIR DE LA COORDINACION A NIVEL NACIONAL, ESTATAL Y LOCAL DE LA SECRETARIA DE EDUCACIÓN PUBLICA Y EL SECRETARIA DE SALUD.</p>
                   <div class="col-xs-12 col-sm-4 color1">
                         <img class="img" src="{% static 'img/organigrma.jpg' %}" class="img-responsive">
                   </div>   
                </div>            
        </div>
</div>
{% endblock %}