{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
  <div class="contanier">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9">
                <h3>PROPOSITO:</h3>
                <p class="margin">Reducir el riesgo de atraso escolar entre niños, niñas y jóvenes que tienen que 
                  hospitalizarse a consecuencia de padecimientos que los incapacita de forma temporal o 
                  definitiva para asistir a una escuela regular y ofrecerles la oportunidad de continuar sus 
                  estudios durante este lapso, de la misma manera brindar el servicio educativo a los niños, 
                  niñas y adolescentes que se encuentran en el hospital como acompañantes de sus padres 
                  o parientes que por lo mismo dejan de asistir a su escuela </p>
            </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"></div>            
        </div>           
  </div>   
{% endblock %}