{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
{% load static from staticfiles %}

   <div class="container">
                <p class="margin">En Región Laguna:</p>
                <p class="app-justificar">  EN REGIÓN LAGUNA:
                  A partir de septiembre de 2009, se establece como “Proyecto de Prevención y Atención al Rezago Educativo por Enfermedad”. 

                  Siendo en ese año cuando en la Ciudad de Gómez Palacio, Dgo; se inicia  en el aula de enseñanza del Hospital General, donde actualmente está ubicada el aula hospitalaria y   en el año 2010  en el Hospital General de Ciudad Lerdo Dgo.</p> 
                   
        <div class="row">                 
                <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/region1.jpg' %}" WIDTH=180 HEIGHT=200  class="img-thumbnail">          
                </div>
                <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/region2.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4 color1">
                     <img class="img" src="{% static 'img/region3.jpg' %}" WIDTH=180 HEIGHT=200 class="img-responsive">
                 </div>
        </div>      
      </div>  

{% endblock %}