{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
  <div class="contanier color1">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9">
                <h3>En Región Laguna:</h3>
                <p class="margin">En Gómez Palacio, Dgo se inicia en 2009, en el aula de enseñanza del Hospital 
                  General de Gómez Palacio Dgo. y en el año 2010 el Hospital General de Ciudad
                  Lerdo Dgo. A partir de septiembre de 2009, se establece como 
                  “Proyecto de Prevención y Atención al Rezago Educativo por Enfermedad”.
                  Actualmente un total 30 entidades federativas están incorporadas al programa 
                  SIGAMOS APRENDIENDO EN EL HOSPITAL con 101 aulas hospitalarias a nivel nacional.</p>
            </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"></div>            
        </div> 
            <hr>         
            <br>
  </div>   
{% endblock %}