{% extends 'base.html' %}

{% block title %} Parepe | Sigamos Aprendiendo{% endblock %}

{% block content %}
<br>
<br>
<br>
  <div class="contanier color1">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9">
                <h3>UBICACIÓN:</h3>
                <p class="margin"> OFICINA: Boulevard Rebollo Acosta s/n, Colonia “Armando Del      Castillo Franco, en la Cd. de Gómez Palacio Dgo.</p>              
                <hr>

                <p class="margin"> HOSPITAL GENERAL DE GÓMEZ PALACIO. 
                   Domicilio: Las palmas 2, Colonia Revolución, C.P.35050 Gómez Palacio, Durango. En el aula de pediatría.
                   Responsable del Aula hospitalaria: Lic. Ivette Marilú Artea Ramírez.</p>
                   <hr>

                  <p class="margin"> HOSPITAL GENERAL DE LERDO DGO.
                  Domicilio: Periférico Gómez-Lerdo km. 12+500 Colonia Prudencia Jáuregui. Cd. Lerdo Dgo. En el aula de pediatría.
                  Responsables del Aula hospitalaria: Lic. Perla Susana Martínez Macías y Lic. Aida Luisa Arellano Aroña.</p>                
                  <hr>

                  <p class="margin">  HORARIO DE ATENCIÓN:
                  De lunes a viernes de 8:00 a 13:00 horas.</p>
            </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"></div>            
        </div>           
  </div>   
{% endblock %}
