<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/main.css'%}">

        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js'%}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--<nav class = "navbar navbar-inverse"> esta fue la  que  me  sugirio irvin --> 
    <nav class = "navbar navbar-personalizado">  
      <div class="container">

        <div class="navbar-header">
         <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="icon-bar app-bar"></span>
          <span class="icon-bar app-bar"></span>
          <span class="icon-bar app-bar"></span>              
         </button>
           <a href="/" class="navbar-brand link-personalizado">PAREPE</a> 
        </div>

        <div class="collapse navbar-collapse" id="menu">
              <ul class= "nav navbar-nav nav-personalizado">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quien Somos 
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu app-submenu">
                        <li><a href="/about">Quien somos</a></li>
                        <li><a href="/ante">Antecedentes</a></li>
                        <li><a href="/region">En la region lagunera</a></li>
                        <li><a href="/proposito">Propositos</a></li>
                        <li><a href="/norma">Normatividad y Operaciones</a></li>
                        <li><a href="/mat">Materiales y Recursos</a></li>
                        <li><a href="/objetivo">Objetivo</a></li>
                        <li><a href="/ubica">Ubicacion</a></li>
                      </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/estructura">Infraestructura</a></li>
                  <li><a href="/organigrama">Organigrama</a></li>
                  <li><a href="/estadistica">Estadistica</a></li>          
                  <li><a href="/galeria">Galeria</a></li>
                  <li><a href="/news">Noticias</a></li>
                  <li><a href="/contacto">Contactanos</a></li>
              </ul>
        </div> 
      </div>
    </nav>

    {% block content %}

    {% endblock %}
      

      <footer class="app-footer">
        <div class="container">
          <p>&copy; jmlc-Dev 2014</p>
         </div>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

  
        <script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script> 
    {% block scripts %} 
    {% endblock %}   

    </body>
</html>